# Ignorer les environnements virtuels
.venv/
__pycache__/
*.pyc

# Ignorer les fichiers de logs
*.log

# Ignorer les bases de données générées (gros fichiers)
**/data/*.db

# Garde éventuellement un exemple de DB minuscule
# data/sample_small.db

# Ignorer les CSV temporaires de simulation
**/data/backup_*.csv